apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
      - name: myapp
        image: 17riya/myapp:69b0709484229edb4221a099e0ce19806605d17f
        ports:
        - containerPort: 3000
